<h3 class="hideifnoscript">
    <a href="#{{ plugin.link }}" alt="{{ plugin.name }}">{{ plugin.name }}</a></h3>
<div>
    <div class="hideifnoscript">
    <h4><a class="ui-state-default" href="/jQueryPlugins{{ plugin.link }}" alt="{{ plugin.name }}">{{ plugin.name }} Page</a></h4>
        <div>
            <dl>
                <dd>
                    <dl>
                        <dt>Description :</dt>
                        <dd>
                            {{ plugin.description }}</dd>
                    </dl>
                </dd>
                <dd>
                    Language : {{ plugin.language }}</dd>
                <dd>
                    Platform : {{ plugin.platform }}</dd>
            </dl>
        </div>
        <div class="ui-widget-header padmeten">
            <div>
                <em>Created : {{ plugin.created }}</em>
            </div>
            <div>
                <em>Last Modified : {{ plugin.modified }}</em>
            </div>
        </div>
    </div>
    <noscript>
        <div class="ui-widget ui-corner-all padmeten">
            <div class="ui-widget-header ui-corner-top padmeten">
                <h3>
                    <a href="/jQueryPlugin{{ plugin.link }}" alt="{{ plugin.name }}">{{ plugin.name }}</a></h3>
            </div>
            <div class="padmeten ui-widget-content">
                <dl>
                    <dd>
                        <dl>
                            <dt>Description :</dt>
                            <dd>
                                {{ plugin.description }}</dd>
                        </dl>
                    </dd>
                    <dd>
                        Language : {{ plugin.language }}</dd>
                    <dd>
                        Platform : {{ plugin.platform }}</dd>
                </dl>
            </div>
            <div class="ui-widget-header ui-corner-bottom padmeten">
                <div>
                    <em>Created : {{ plugin.created }}</em>
                </div>
                <div>
                    <em>Last Modified : {{ plugin.modified }}</em>
                </div>
            </div>
        </div>
        <div>
            &nbsp;</div>
    </noscript>
</div>
