{% if page.url == post.url %}
    <div class="span-17 last ui-widget ui-corners-all">
        <div class="span-17 ui-widget-header ui-corner-top last padmeten">
            <h4>
                <a href="{{ post.url }}">{{ post.title }}</a></h4>
        </div>
        <div class="span-17 ui-widget-content last padmeten">
            {{ post.content }}
        </div>
        <div class="span-17 ui-widget-header ui-corner-bottom last padmeten">
            <em>Posted at {{ post.date | date_to_string }}</em>
            </div>
    </div>
{% else %}
<h3 class="hideifnoscript">
    <a href="#{{ post.url }}" alt="Post">{{ post.title }}</a></h3>
<div>
    <div class="hideifnoscript">
        <h4><a class="ui-state-default" href="{{ post.url }}">Direct Link</a></h4>
        <div>
            {{ post.content }}
        </div>
        <div class="ui-widget-header last padmeten">
            <em>Posted at {{ post.date | date_to_string }}</em>
        </div>
    </div>
    <noscript>
        <div class="span-17 last ui-widget ui-corners-all">
            <div class="span-17 ui-widget-header ui-corner-top last padmeten">
                <h4>
                    <a href="{{ post.url }}">{{ post.title }}</a></h4>
            </div>
            <div class="span-17 ui-widget-content last padmeten">
                {{ post.content }}
            </div>
            <div class="span-17 ui-widget-header ui-corner-bottom last padmeten">
                <em>Posted at {{ post.date | date_to_string }}</em>
            </div>
        </div>
        <div>&nbsp;</div>
    </noscript>
</div>
{% endif %}